# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Model artifacts
*.joblib
*.pkl
*.h5
*.onnx

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
